@font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 400;
  src: local('Libre Baskerville'), local('LibreBaskerville-Regular'), url(lb.woff) format('woff');
}

#test-block {
    margin-bottom: 10em;
    text-align: center;
}

#test-box {
    position: relative;
    min-height: 10em;
    max-width: 45em;    
    margin: 0 auto;
    padding: 2em;
    border: 0px solid #999;
    border-radius: 15px;
}

#loading {
    width: 10em;
    height: 10em;
    margin-top: 5em;
    margin-left: auto;
    margin-right: auto;
}

#test-start {
}

#test-tests {
}

#test-result {
    font-size: 5em;
}

#test-mask {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.95);
    top: 0;
    left: 0;
    z-index: 9999;
}

#test-title {
    
}

#test-content {
    font-size: 5em;
    font-family: 'Libre Baskerville', serif;
}

#test-btns {
    margin-top: 1em;
}
