html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#config {
  position: absolute;
  top: 0;
  right: 0;
  bottom: auto;
  left: 0;
  height: 30px;
  background: #f6f6f6;
}

#wrapper {
  position: absolute;
  top: 30px;
  right: 0;
  bottom: 0;
  left: 0;
}


html, body {
  height: 100%;
}

body {
  padding: 8px;
  background-color: #F6F6F6;
  box-sizing: border-box;
}

.split {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  overflow-y: auto;
  overflow-x: hidden;
}

.content {
  border: 1px solid #C0C0C0;
  box-shadow: inset 0 1px 2px #e4e4e4;
  background-color: #fff;
}

.gutter {
  background-color: transparent;

  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  cursor: col-resize;
  background-image: url('grips/vertical.png');
}

.gutter.gutter-vertical {
  cursor: row-resize;
  background-image: url('grips/horizontal.png');
}

.split.split-horizontal, .gutter.gutter-horizontal {
  height: 100%;
  float: left;
}

.ace--editor {
  margin: 0;
  width: 100%;
  height: 100%;
}

#preview {
  overflow: hidden;
}

#preview-iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

#console {
}

#input {
  width: 100%;
}

#input-editor {
  border: 1px solid lightgray;
  margin: auto;
  height: 200px;
  width: 100%;
  margin: 0;
}

#output {
  width: 100%;
  font-family: monospace;
}

.timestamp {
  font-size: 90%;
  color: gray;
  margin-right: 5px
}

.console-messages {
  width: 100%;
  border-bottom: 1px solid #ddd;
  white-space: pre;
}

.console-messages.log {
}

.console-messages.info:before {
  display: inline-block;
  text-align: center;
  content: "i";
  color: #fff;
  background: #2A53CD;
  border-radius: 50%;
  font-family: monospace;
  width: 15px;
  margin-left: -15px;
}

.console-messages.warn {
  color: hsl(39, 100%, 18%);
  background-color: hsl(50, 100%, 95%);
  border-top: 1px solid hsl(50, 100%, 88%);
  border-bottom: 1px solid hsl(50, 100%, 88%);
  margin-top: -1px;
}

.console-messages.warn:before {
  display: inline-block;
  text-align: center;
  content: "!";
  color: #fff;
  background: #F4BD00;
  border-radius: 50%;
  font-family: monospace;
  width: 15px;
  margin-left: -15px;
}

.console-messages.error {
  color: #f00;
  background-color: hsl(0, 100%, 97%);
  border-top: 1px solid hsl(0, 100%, 92%);
  border-bottom: 1px solid hsl(0, 100%, 92%);
  margin-top: -1px;
}

.console-messages.error:before {
  display: inline-block;
  text-align: center;
  content: "x";
  color: #fff;
  background: #EB3941;
  border-radius: 50%;
  font-family: monospace;
  width: 15px;
  margin-left: -15px;
}

.console-messages.others:before {
  display: inline-block;
  content: "<";
  color: #ccc;
  width: 15px;
  margin-left: -15px;
}

#output {
  padding-left: 15px;
}

.console-messages.input:before {
  display: inline-block;
  content: ">";
  color: #ccc;
  width: 15px;
  margin-left: -15px;
}

.btn {
  margin: 3px 5px auto 5px;
  display: inline-block;
  background: #fff;
  color: #777;
  text-decoration: none;
  border: 1px solid #c0c0c0;
  padding: 2px 5px;
}

.btn:active {
  transform: translateY(1px);
}
