html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.animated {
  animation: colorful 1s ease infinite;
}

@keyframes colorful { 
  0% {
    background-color: rgb(255, 128, 128);
  }
  25% {
    background-color: rgb(128, 128, 255);
  }
  75% {
    background-color: rgb(128, 255, 128);
  }
  100% {
    background-color: rgb(255, 128, 128);
  }
}

