#live {
    width: 480px;
    height: 270px;
    position: relative;
}

#cam {
    z-index: 10;
}

#crop {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    overflow: hidden;
    cursor: crosshair;
}

#select{
    position: absolute;
    border: 1px dashed #0f3;
    z-index: 1000;
    background: rgba(255, 255, 255, 0.05); 
    box-shadow: 0 0 0px 480px rgba(0, 0, 0, 0.6);
    cursor: move;
}