<html>
  <head>
    <title>vibration controller</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!--script src="https://cdn.jsdelivr.net/npm/vue"></script-->
  </head>
  <body>
    <div id="app">
      <div v-for="controller in controllers" :key="controller.id">
        <h2>{{ controller.gamepad.id }}</h2>
        <input type="checkbox" v-model="controller.playing">
        <label for="playing">{{ controller.playing ? "playing" : "paused" }}</label>
        <br>
        <label for="bpm">BPM</label>
        <input type="range" name="bpm" min="30" max="240"
               v-model="controller.bpm" step="1"
               />
        <span>{{ controller.bpm }}</span>
        <br>
        <label for="omega">omega</label>
        <input type="range" name="omega" min="1" max="4"
               v-model="controller.omega" step="1"
               />
        <span>{{ Math.pow(2, controller.omega) }}</span>
        <br>
        <label for="pattern">Pattern</label> <span>[{{ controller.cur }}]</span>
        <ol>
          <li v-for="b in controller.pattern">
            <input type="range" name="bpm" min="0" max="1"
                   v-model="b.weak" step="0.01"
                   />
            <input type="range" name="bpm" min="0" max="1"
                   v-model="b.strong" step="0.01"
                   />
            <span>{{ b.weak }}, {{ b.strong }}</span>
          </li>
        </ol>
      </div>
    </div>
    <script>
      var app = new Vue({
        el: '#app',
        data: function() {
          return {
            controllers: [
              {
                gamepad: {
                  id: ''
                },
                pattern: [
                  {
                    strong: 0,
                    weak: 0
                  }
                ],
                bpm: "120",
                omega: "3",
                playing: false,
                lastUpdate: 0,
                cur: 0
              }
            ]
          };
        },
        computed: {
          lengths: function() {
            return this.controllers.map(c => c.omega);
          }
        },
        watch: {
          lengths: function() {
            this.controllers.forEach(c => {
              c.pattern = new Array(2 * Math.pow(2, parseInt(c.omega))).fill(0).map(x => (JSON.parse(JSON.stringify({ strong: 0, weak: 0 }))));
            });
          }
        },
        mounted: function() {
          window.addEventListener("gamepadconnected", (event) => {
            console.log("A gamepad connected:");
            this.$set(this.controllers, event.gamepad.index, {
              gamepad: event.gamepad,
              pattern: new Array(16).fill(0).map(x => (JSON.parse(JSON.stringify({ strong: 0, weak: 0 })))),
              bpm: "120",
              omega: "3",
              playing: false,
              lastUpdate: 0,
              cur: 0
            });
          });
          window.addEventListener("gamepaddisconnected", (event) => {
            console.log("A gamepad disconnected:");
            this.controllers[event.gamepad.index] = null;
            console.log(event.gamepad);
          });
          setInterval((function(app) {
            return function() {
              var now = Date.now();
              app.controllers.forEach(c => {
                if(c.playing) {
                  var duration = 60000 / parseInt(c.bpm) / Math.pow(2, parseInt(c.omega));
                  if(c.lastUpdate + duration < now) {
                    c.cur += 1;
                    c.cur %= Math.pow(2, parseInt(c.omega)) * 2;
                    c.gamepad.vibrationActuator.playEffect("dual-rumble", {
                      startDelay: 0,
                      duration: duration * 0.9,
                      weakMagnitude: parseFloat(c.pattern[c.cur].weak),
                      strongMagnitude: parseFloat(c.pattern[c.cur].strong)
                    });
                    c.lastUpdate = now;
                  }
                };
              });
            };
          })(this), 0);
        }
      });
    </script>
  </body>
</html>
