body {
  background: #fec;
}

#main {
  color: #ca5;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#log:after {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(255,238,204,0) 0%, rgba(255,238,204,0) 60%, rgba(255,238,204,1) 100%);
}

#log>span {
  display: block;
}

#paths {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.6;
}

.keys {
  position: fixed;
  font-family: monospace;
  font-size: 35px;
  padding: 5px 10px;
  border: 1px solid #a85;
  border-radius: 10%;
  background: #fed;
}

#status {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
